.Button_them_action_right {
  background-color: #000;
  color: #fff;
  padding: 20px;
  
  cursor: pointer;

}
.Button_them_action_right:before {
  content: '>';
  position: absolute;
  color: #fff;
  padding: 20px;

  cursor: pointer;

}
.Button_them_action_left {
  background-color: #000;
  color: #fff;
  padding: 20px;

  cursor: pointer;

}
.Button_them_action_left:before {
  content: '<';
  position: absolute;
  color: #fff;
  padding: 20px;

  cursor: pointer;

}
